html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 62.5%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.recipe-info {
  border: 1px solid red;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.recipe-info section {
  display: flex;
  flex-direction: row;
}
.recipe-info section div {
  border: 1px solid lime;
  width: 50%;
}
.recipe-info main {
  display: flex;
  flex-direction: column;
}
.recipe-info p {
  white-space: pre-line;
}
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'), url(https://fonts.gstatic.com/s/ubuntucondensed/v10/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfrg.ttf) format('truetype');
}
a {
  text-decoration: none;
  color: #000;
}
.recipeList__container {
  /* border: 2px solid seagreen; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  font-family: "Ubuntu Condensed";
}
.recipe__container {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  display: flex;
  flex-flow: column wrap;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.recipe__container img {
  border-radius: 6px 6px 0 0;
}
.recipe__body {
  padding: 0 0.5em 0.5em 0.5em;
  line-height: 0.6;
}
.recipe__source {
  font-style: italic;
}
.recipe__author {
  font-style: italic;
}
.recipe__label__container {
  text-align: right;
}
.recipe__label {
  padding: 0.15em;
  border: 1px solid darkgray;
  border-radius: 5px;
  background-color: #fff;
  color: darkgray;
}
.recipe__label:hover {
  cursor: pointer;
  border: 1px solid darkgray;
  background-color: darkgray;
  color: #fff;
}
